<!-- Capacity Section on top of image section -->
<div class="col-lg-4 d-flex flex-column">
    <div class="card text-center text-white bg-dark shadow-lg section-card flex-fill">
        <div class="card-body capacity-section">
            <h3 class="card-title">BETWEEN @(_piggyBankCapacity-_lowerDisparity) AND @(_piggyBankCapacity + _higherDisparity)</h3>
        </div>
    </div>
    <div class="card text-center text-white bg-dark shadow-lg section-card flex-fill image-section">
        <img src="@_imagePath" class="card bg-dark"/>
    </div>
</div>